{
  "openapi": "3.0.0",
  "info": {
    "title": "Yonne External API",
    "version": "1.0.0",
    "description": "External merchant integration API for Yonne. Because formal street addressing is limited in Malawi, valid latitude/longitude coordinates are mandatory for quote and create-order operations."
  },
  "servers": [
    {
      "url": "https://api.yonne.app"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/external/validate": {
      "get": {
        "tags": ["External"],
        "summary": "Validate external API key",
        "description": "Checks whether the merchant API key is valid and returns merchant integration context.",
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidateResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/pickup": {
      "get": {
        "tags": ["External"],
        "summary": "Get merchant pickup location",
        "description": "Returns the configured merchant pickup address and coordinates used as default origin for quoting/order creation.",
        "responses": {
          "200": {
            "description": "Pickup data returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PickupResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/quote": {
      "post": {
        "tags": ["External"],
        "summary": "Quote delivery fee",
        "description": "Computes delivery pricing using mandatory destination coordinates and optional dynamic inputs (`total_weight_kg`, `vehicle_type`).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/create-order": {
      "post": {
        "tags": ["External"],
        "summary": "Create merchant order",
        "description": "Creates an order, applies wallet debit (live/test context), auto-assigns nearest rider, and dispatches notifications/webhooks. Supports idempotent retry via `Idempotency-Key`.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Recommended for safe retries. Reusing the same key within 24h returns cached success response.",
            "schema": { "type": "string", "maxLength": 255 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateOrderRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created (or idempotent replay)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateOrderResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/orders": {
      "get": {
        "tags": ["External"],
        "summary": "List merchant orders",
        "description": "Returns paginated orders created by the merchant through external API integration.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "status", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Order list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListOrdersResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/orders/{order_id}": {
      "get": {
        "tags": ["External"],
        "summary": "Fetch single order",
        "description": "Returns real-time status and details for one merchant-owned order.",
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetOrderResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/orders/{order_id}/cancel": {
      "post": {
        "tags": ["External"],
        "summary": "Cancel order before pickup",
        "description": "Cancels an order that has not reached pickup/in-transit/delivered stages and applies wallet refund logic where applicable.",
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Cancelled successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CancelOrderResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/orders/{order_id}/tracking": {
      "get": {
        "tags": ["External"],
        "summary": "Get live tracking snapshot",
        "description": "Returns rider coordinates (if available), ETA estimate, and public tracking URL.",
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Tracking details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackingResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/orders/{order_id}/pod": {
      "get": {
        "tags": ["External"],
        "summary": "Get proof of delivery",
        "description": "Returns POD payload (image/signature data) for delivered/completed orders.",
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "POD response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PodResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/wallet": {
      "get": {
        "tags": ["External"],
        "summary": "Get wallet and recent transactions",
        "description": "Returns current merchant wallet balance and paginated transaction activity in current environment context.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "type", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Wallet response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/external/test/simulate-status": {
      "post": {
        "tags": ["External Test"],
        "summary": "Simulate status webhook",
        "description": "Testing endpoint: updates order status and triggers corresponding merchant webhook event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SimulateStatusRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook simulation triggered",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimulateStatusResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": { "type": "apiKey", "in": "header", "name": "X-API-Key" },
      "BearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "APIKey" }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": { "type": "string" },
          "message": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "valid": { "type": "boolean" },
          "balance": { "type": "number" },
          "currency": { "type": "string" },
          "hasPickup": { "type": "boolean" },
          "pickupAddress": { "type": "string" },
          "pickupLatitude": { "type": "number", "nullable": true },
          "pickupLongitude": { "type": "number", "nullable": true },
          "businessName": { "type": "string" }
        }
      },
      "PickupResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "pickupAddress": { "type": "string" },
          "pickupLatitude": { "type": "number" },
          "pickupLongitude": { "type": "number" }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": ["delivery_lat", "delivery_lng"],
        "properties": {
          "pickup_lat": { "type": "number" },
          "pickup_lng": { "type": "number" },
          "pickupLatitude": { "type": "number" },
          "pickupLongitude": { "type": "number" },
          "delivery_lat": { "type": "number" },
          "delivery_lng": { "type": "number" },
          "deliveryLatitude": { "type": "number" },
          "deliveryLongitude": { "type": "number" },
          "product_type": { "type": "string" },
          "productType": { "type": "string" },
          "weight_estimate": { "type": "string" },
          "weightEstimate": { "type": "string" },
          "delivery_speed": { "type": "string" },
          "deliverySpeed": { "type": "string" },
          "total_weight_kg": { "type": "number" },
          "vehicle_type": { "type": "string" },
          "vehicleType": { "type": "string" }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "price": { "type": "number" },
          "delivery_fee": { "type": "number" },
          "currency": { "type": "string" },
          "eta": { "type": "string" },
          "eta_minutes": { "type": "integer" },
          "service_id": { "type": "string" },
          "distance_km": { "type": "number" },
          "environment": { "type": "string" },
          "breakdown": { "type": "object", "additionalProperties": true }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": ["delivery_lat", "delivery_lng", "delivery_address", "receiver_name", "delivery_fee"],
        "properties": {
          "pickup_address": { "type": "string" },
          "pickupAddress": { "type": "string" },
          "delivery_address": { "type": "string" },
          "deliveryAddress": { "type": "string" },
          "receiver_name": { "type": "string" },
          "receiverName": { "type": "string" },
          "receiver_phone": { "type": "string" },
          "receiverPhone": { "type": "string" },
          "receiver_email": { "type": "string" },
          "receiverEmail": { "type": "string" },
          "delivery_fee": { "type": "number" },
          "deliveryFee": { "type": "number" },
          "delivery_lat": { "type": "number" },
          "delivery_lng": { "type": "number" },
          "deliveryLatitude": { "type": "number" },
          "deliveryLongitude": { "type": "number" },
          "pickup_lat": { "type": "number" },
          "pickup_lng": { "type": "number" },
          "pickupLatitude": { "type": "number" },
          "pickupLongitude": { "type": "number" },
          "item_name": { "type": "string" },
          "itemName": { "type": "string" },
          "product_name": { "type": "string" },
          "productName": { "type": "string" },
          "product_type": { "type": "string" },
          "productType": { "type": "string" },
          "weight_estimate": { "type": "string" },
          "weightEstimate": { "type": "string" },
          "merchant_reference_id": { "type": "string" },
          "merchantReferenceId": { "type": "string" },
          "wc_order_id": { "type": "string" },
          "wcOrderId": { "type": "string" },
          "metadata": {
            "type": "object",
            "description": "Optional merchant metadata object. Echoed in create response and webhook payload data.metadata.",
            "additionalProperties": true
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "tracking_id": { "type": "string" },
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "tracking_link": { "type": "string" },
          "delivery_fee": { "type": "number" },
          "wallet_balance": { "type": "number" },
          "currency": { "type": "string" },
          "pickup_address": { "type": "string" },
          "delivery_address": { "type": "string" },
          "wc_order_id": { "type": "string", "nullable": true },
          "merchant_reference_id": { "type": "string", "nullable": true },
          "metadata": { "type": "object", "nullable": true, "additionalProperties": true },
          "environment": { "type": "string" },
          "idempotent_replay": { "type": "boolean" }
        }
      },
      "GetOrderResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "order": { "type": "object", "additionalProperties": true }
        }
      },
      "CancelOrderResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "wallet_balance": { "type": "number" },
          "currency": { "type": "string" }
        }
      },
      "TrackingResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "tracking_url": { "type": "string" },
          "eta_minutes": { "type": "integer", "nullable": true },
          "rider": {
            "type": "object",
            "properties": {
              "id": { "type": "integer", "nullable": true },
              "driver_id": { "type": "string", "nullable": true },
              "name": { "type": "string", "nullable": true },
              "latitude": { "type": "number", "nullable": true },
              "longitude": { "type": "number", "nullable": true }
            }
          }
        }
      },
      "PodResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "delivered_at": { "type": "string", "nullable": true },
          "pod": {
            "type": "object",
            "nullable": true,
            "properties": {
              "image_url": { "type": "string", "nullable": true },
              "signature": { "type": "string", "nullable": true },
              "notes": { "type": "string", "nullable": true }
            }
          },
          "message": { "type": "string" }
        }
      },
      "WalletTransaction": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "amount": { "type": "number" },
          "type": { "type": "string" },
          "reference": { "type": "string" },
          "orderId": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "nullable": true }
        }
      },
      "WalletResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "balance": { "type": "number" },
          "currency": { "type": "string" },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WalletTransaction" }
          },
          "page": { "type": "integer" },
          "perPage": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "totalItems": { "type": "integer" }
        }
      },
      "SimulateStatusRequest": {
        "type": "object",
        "required": ["order_id", "status"],
        "properties": {
          "order_id": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "SimulateStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "event": { "type": "string" }
        }
      },
      "ListOrderItem": {
        "type": "object",
        "properties": {
          "orderId": { "type": "string" },
          "trackingNumber": { "type": "string" },
          "status": { "type": "string" },
          "pickupAddress": { "type": "string" },
          "pickupLocation": { "type": "string" },
          "deliveryAddress": { "type": "string" },
          "deliveryLocation": { "type": "string" },
          "dropoffLocation": { "type": "string" },
          "locationInformation": { "type": "object", "additionalProperties": true },
          "receiverName": { "type": "string" },
          "receiverPhone": { "type": "string" },
          "deliveryFee": { "type": "number" },
          "itemName": { "type": "string" },
          "environment": { "type": "string" },
          "merchantReferenceId": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "nullable": true }
        }
      },
      "ListOrdersResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "orders": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ListOrderItem" }
          },
          "page": { "type": "integer" },
          "perPage": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "totalItems": { "type": "integer" }
        }
      }
    }
  }
}